/* style.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f0f0;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 70px;;
}

canvas {
  border: none;
  image-rendering: crisp-edges; /* keeps rectangles crisp */
}

#henleCanvas {
  width: 240px;   /* display size for loop */
  height: 400px;
}

#colorBar {
  width: 40px;    /* display size for color bar */
  height: 400px;
  margin-top: 80px;     /* adjust vertical position as needed */
}

#parameterList {
  list-style: none;       /* remove bullets */
  padding: 10px;
  margin: 20px 0;
  width: 300px;
}

#parameterList li {
  margin-bottom: 15px;
}

#parameterList label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#parameterList input[type="range"] {
  width: 100%;
}

.canvas-wrapper {
  position: relative;       /* create positioning context */
  width: 240px;             /* match your canvas */
  height: 400px;
}

#henleCanvas {
  position: absolute;
  top: 209px;
  left: -20px;
  width: 125px;
  height: 220px;
  display: block;
}


#vasaCanvas {
  position: absolute;
  top: 209px;
  left: 167px;
  width: 132px;
  height: 220px;
  display: block;
}

#overlaySvg {
  position: absolute;
  top: -100px;
  left: -100px;
  width: 400px;              /* match canvas dimensions */
  height: 800px;
  pointer-events: none;     /* allow mouse input to reach the canvas */
}
